@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Foldit:wght@900&display=swap');

:root{
    --main-color: #088178;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: red;
    color: #eee;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 15px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
body{
    width: 100%;
}

/* Navabr Section */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo{
    font-family: 'Dancing Script';
    font-size: 40px;
}
.logo a{
    text-decoration: none;
    font-family: 'Dancing Script';
    color: black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}
nav ul li a:hover:not(.close),
nav ul li a.active
{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.fa-right-from-bracket:hover{
    color: red;
}
.fa-solid{
    position: relative;
}
.container{
    display: none;
}
.burger{
    width: 35px;
    height: 19px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
.close{
    display: none;
    font-size: 25px;
    margin-bottom: 20px;
}

/* Navbar Section END */


/* Header */
.main{
    background-image: url(/assets/main.jpg);
    background-position: center center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.main h4{
    padding-bottom: 15px;
    color: #eee;
}
.main h2,
.main p{
    color: #eee;
}
.main h1{
    color: var(--main-color);
}
.main a{
    text-decoration: none;
    background-image: url(/assets/button.png);
    border: 0;
    background-color: transparent;
    color: var(--main-color);
    padding: 14px 80px 17px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700;
    font-size: 15px;
}
/* End */

/* Feature section */
.features{
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.features .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7de;
    margin: 15px 0;
    border-radius: 4px;
    transition: 0.3s ease;
}
.features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transform: scale(1.15);
}
.features .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--main-color);
    background-color: #fddde4;
}
.features .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.features .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
.features .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
.features .fe-box:nth-child(4) h6 {
    background-color: • #cdd4f8;
}
.features .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
.features .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
/* End */


/* Content section */
.hidden{
    display: none;
}
#errore p{
    font-size: 22px;
    padding: 20px;
    color: red;
    border-radius: 6px;
    background-color: #eee;
}
.products{
    padding: 40px 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-container div{
    width: 25%;
    min-width: 280px;
    padding: 10px 12px;
    border: 1px solid #cce7de;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 15px;
    transition: 0.3s ease;
    position: relative;
    text-align: start;
}
.flex-container div:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.flex-container div img{
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
}
.flex-container h5{
    padding: 7px 0;
    color: #1a1a1a;
    font-size: 14px;
}
.flex-container h4{
    padding: 6px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
}
.flex-container .carticon2{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    position: absolute;
    bottom: 3px;
    right: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}
.flex-container .carticon2:hover{
    background-color: red;
    transform: scale(1.15);
}
.flex-container .carticon{
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.flex-container .carticon:hover{
    background-color: var(--main-color);
    transform: scale(1.2);
}
.sm-modal{
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    bottom: 15;
    right: -400;
    z-index: 998;
    transition: 1s ease-in-out;
}
.modal-body{
    background-color: var(--main-color);
    opacity: 0.9;
    border-radius: 10px;
    width: 300px;
}
.modal-body p{
    color: #eee;
    font-weight: 400;
}
.appear{
    position: fixed;
    bottom: 15;
    right: 15;
}
/* End */



/* Banner part */
.banner{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
}
.banner h4,
.banner h2{
    color: white;
    padding-bottom: 15px;
}
.banner h2 span{
    color: var(--main-color);
}
.banner a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 15px;
    color: #000;
    background-color: #fff; border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
.banner a:hover{
    background-color: var(--main-color);
    color: #eee;
}
/* End */

/* Newsletter */
.newsletter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/assets/b2.jpg);
    background-size: cover;
    margin-top: 20px;
}
.newstext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 20px 40px 0;
}
.newstext h4{
    color:#fff;
    font-size: 30px;
    font-weight: 300;
}
.newstext p{
    color: rgb(167, 163, 163);
    margin: 0;
}
.newstext p span{
    color: rgb(179, 78, 0);
    font-weight: bold;
}

.newsletter a{
    text-decoration: none;
    padding: 7px 50px;
    height: 40px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
/* End */


/* Footer section */

footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px 0 100px;
    position: relative;
    background-color: #e3e6f3;
    width: 100%;
}
.col{
    display: flex;
    flex-direction: column;
}
.icon{
    padding-bottom: 50px;
}
footer a{
    text-decoration: none;
    color: #465b52;
    margin: 8px 0;
    transition: 0.3s ease;
}
footer h4{
    margin: 20px 0;
}
footer p{
    margin: 4px 0;
}
footer i{
    padding: 0 3px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 37%;
}
.copyright p{
    margin: 10px 0;
}

footer a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

footer i:hover{
    color: var(--main-color);
}
/* End  */
/* End Home Page  */

/* ******************************************************************************** */

/* Shop Page */

.shop-main{
    background-image: url(/assets/b1.jpg);
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-main h2,
.shop-main p{
    color: #fff;
}

form{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
form #text{
    border: none;
    outline: none;
    background-color: #cce7de;
    border-radius: 5px;
    height: 35px;
    width: 400px;
    margin-right: 20px;
    padding: 10px 5px 10px 15px;
}
form #send{
    border: none;
    height: 35px;
    width: 100px;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
form #send:hover{
    background-color: var(--main-color);
    color: #fff;
}
/* End Shop Page */

/* ******************************************************************************** */


/* Contact Page */

.page-header{
    background-image: url(/assets/banner.png);
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-header h2,
.page-header p{
    color: #fff;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
}
.contact h2{
    font-size: 35px;
}
.contact-deatails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.contact span{
    padding-bottom: 15px;
}
.contact h3{
    padding: 15px 0;
}
.icon-text{
    display: flex;
    flex-direction: column;
}
.contact-deatails li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0;
}
.contact-deatails li i{
    padding-right: 18px;
}
.map{
    width: 55%;
    height: 400px;
}
.map iframe{
    width: 100%;
    height: 400px;
}

/* End Contact Page */

/* ******************************************************************************** */


/* Cart Page */

.cart{
    padding: 40px 80px;
}
.cart table{
    width: 100%;
    border-collapse: collapse;
    white-space: wrap;
}
.cart table img{
    width: 80px;
}

.cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
.cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(3){
    width: 200px;
    text-align: center;
}
.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
.cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
.cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 10px;
}
.cart table tbody tr td{
    padding-top: 15px;
}
.cart table tbody td{
    font-size: 15px;
    margin: 0 20px;
}
.cart table tbody td:last-child{
    font-weight: 900;
}
.cart table .remove{
    width: 17px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
.cart table .remove:hover{
    transform: scale(1.1);
    background-color: rgb(184, 0, 0);
}
.cart table input{
    width: 70px;
    padding: 9px 5px 9px 15px;
    font-size: 15px;
    outline: none;
}
#basket tr{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease-in-out;
}
#basket tr:hover{
    transform: scale(1.03);
}
#clear{
    display: flex;
    margin: auto;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: var(--main-color);
    color: #eee;
    transition: 0.03s ease-in-out;
}
#clear:hover{
    background-color: red;
    color: white;
}
.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--main-color);
    color: #eee;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.25s ease-in-out;
}
.empty a:hover{
    color: #fff;
    transform: scale(1.1);
}
.cart-add{
    padding: 40px 80px;
    display: flex;
    justify-content: flex-end;
}
.final{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
.final h3{
    margin-bottom: 15px;
}
.final table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.final table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 16;
}
.final button{
    background-color: var(--main-color);
    color:#eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
}
.final button:hover{
    color: #fff;
    padding: 12px 24px;
}
/* End Cart Page */

/* ******************************************************************************** */

/* Account Page */
.account{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account h3{
    margin: 20px 0;
    font-size: 30px;
}
.account p{
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}
.account .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.account a{
    background-color: var(--main-color);
    text-decoration: none;
    font-style: normal;
    color: #eee;
    padding: 5px;
    border-radius: 4px;
}
.account #order-btn:hover{
    color: #fff;
}
.account #logout-btn:hover{
    background-color: rgb(201, 0, 0);
}

/* End Account Page */

/* ******************************************************************************** */

/* Media Queries*/
@media (max-width:912px){
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding-top: 80px;
        z-index: 1001;
        transition: 0.4s ease-in-out;
    }
    .navactive{
        right: 0;
    }
    nav ul li{
        margin-bottom: 20px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container span{
        background-color: black;
        height: 2px;
        position: absolute;
        width: 100%;
        right: 0;
        transition: all 0.35s ease;
    }
    .container a{
        font-size: 20px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.3s ease;
        margin-left: 20px;
    }
    .container a:hover{
        color: var(--main-color);
    }
    .container a:hover:nth-child(3){
        color: red;
    }
    .container .burger span:first-child {
        top: 0;
    }
    .container .burger span:nth-child(2) {
        top: 8px;
    }
    .container .burger span:last-child {
        top: 16px;
    }
    .container .burger:hover span:nth-child(2) {
        width: 50%;
        right: 0;
    }
    nav ul li:nth-child(6),
    nav ul li:nth-child(7),
    nav ul li:last-child{
        display: none;
    }
    .close{
        display: flex;
    }
    .close:hover{
        color:rgb(184, 0, 0);
    }
    .main{
        width: 100%;
        height: 70vh;
        padding: 0 40px;
        background-position: top 30% right 30%;
    }
    .features .fe-box{
        width: 48%;
        pointer-events: none;
    }
    h1{
        font-size: 40px;
        line-height: 40px;
    }
    h2{
        font-size: 36px;
        line-height: 37px;
    }
    .newsletter{
        padding-left: 25px;
        height: 30vh;
    }
    .copyright{
        display: none;
    }

    .contact-deatails{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .map{
        width: 100%;
    }
    .final{
        width: 75%;
    }
}
@media (max-width: 541px){
    header{
        padding: 10px 30px;
    }
    .newsletter a{
        margin-right: 15px;
        height: auto;
    }
    .cart{
        padding: 20px 30px;
    }
    .final{
        width: 100%;
        padding: 10px;
    }
    .cart-add{
        padding: 20px 30px;
    }
    .shop-main p{
        text-align: center;
    }
    footer{
        padding: 40px 10px 0 10px;
    }
    footer .col:nth-child(2){
        margin: 0 15px;
    }
}
@media (max-width:414px){
    /* index page */
    /* nav */
    header{
        padding: 10px 30px;
    }
    .main{
        padding: 0 30px;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 25px;
    }
    h4{
        font-size: 17px;
    }
    p{
        color: black;
    }
    /* main */
    /* features */
    .features{
        padding: 30px;
    }
    /* products */

    /* banner */
    /* newsletter */
    .newsletter a{
        margin-right: 15px;
        height: auto;
    }
    .newsletter h4{
        font-size: 19px;
    }
    footer{
        padding: 40px 10px 0 10px;
    }
    footer .col:nth-child(2){
        margin: 0 15px;
    }

    /* home, shop, about and account page */
    .logo a {
    font-size: 30px;
    }
    .products {
        padding: 20px 30px;
    }
    #team{
        padding: 20px 30px;
    }
    .flex-container div {
        width: 100%;
        margin: 15px 0;
    }
    form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    form #text{
        width: 230px;
        margin: 0 0 10px 0;
    }
    .shop-main p{
        margin: 0 10px;
        text-align: center;
    }
    .page-header p{
        margin: 0 10px;
        text-align: center;
    }
    .contact{
        padding: 20px 30px;
    }
    .contact h2{
        text-align: center;
    }
    .account h3{
        font-size: 23px;
    }
    .account p{
        font-size: 18px;
    }
    /* cart page */
    .cart{
        padding: 20px 0;
    }
    .final{
        width: 100%;
        padding: 10px;
    }
    .cart-add{
        padding: 20px 30px;
    }
    .cart table img{
        width: 60px;
    }
    .cart table thead td{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 0;
    }
    .cart table tbody tr td{
        padding-top: 23px;
    }
    .cart table tbody td{
        font-size: 10px;
    }
    .cart table tbody td:last-child{
        font-size: 13px;
    }
    .cart table input{
        width: 50px;
        padding: 9px 5px 9px 15px;
        font-size: 14px;
        font-weight: 600;
    }
}
